@font-face {
  font-family: Bitmap1;
  src: url("./fonts/bitmap1.ttf");
}

@font-face {
  font-family: Bitmap2;
  src: url("./fonts/bitmap2.ttf");
}

@font-face {
  font-family: Bitmap3;
  src: url("./fonts/bitmap3.ttf");
}

@font-face {
  font-family: Bitmap4;
  src: url("./fonts/bitmap4.ttf");
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
